<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<link href="../static/css/footer.css" rel="stylesheet"
	th:href="@{/css/footer.css}" />

</head>
<body>


	<footer class="footer" th:fragment="footer">
	
			
			<!--foote_bottom_ul_amrc ends here-->
			<p class="text-center">
				Head Office, Umlunguzi Building, Gwamile Street, P.O.BOX 336, Mbabane, Eswatini. Telephone: +268 24095000 Fax: +268 2404 2550, Email: swazibank@swazibank.co.sz Copyright @2020 | Designed by
			
				 <a
					href="https://www.swazibank.co.sz/mfmbs/ib/about.jsp">Eswatini
					Bank</a><a href="https://www.facebook.com/EswatiniBank/"><img th:src="@{/img/facebook-16.ico}"></a>
				<a href="https://twitter.com/eswatinib"><img th:src="@{/img/twitter-16.ico}"></a><a href="https://www.instagram.com/eswatinibank/"><img th:src="@{/img/instagram-16.ico}"></a>
				
			</p>
		

	</footer>
	
	<script type="text/javascript" src="../static/js/bootstrap.min.js" th:href="@{/css/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:href="@{/css/js/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/sweetalert.js" th:href="@{/css/js/sweetalert.js}"></script>



</body>
</html>