@CHARSET "ISO-8859-1";

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #f29402;
}

ul li {
	display: block;
	position: relative;
	float: left;
	background: #f9f9f9;
}

li ul {
	display: none;
}

ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	background-color: #f29402;
	font-size: 15px;
}
ul li li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	background-color: #f29402;
	font-size: 14px;
}

ul li a:hover {
	background: #f9f9f9;
}

li:hover>ul {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	background: #ffdf00;
}

li:hover li a:hover {
	background: #f29402;
}

.main-navigation li ul li {
	border-top: 0;
	z-index: 999;
}

ul ul ul {
	left: 100%;
	top: 0;
}

ul:before, ul:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

ul:after {
	clear: both;
}





.userName {
	background-color: #f29402;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-align: justify;
	-moz-text-align-last: right; /* Code for Firefox */
	text-align-last: right;
}




