<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">


<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="../static/css/menu.css" rel="stylesheet"
	th:href="@{/css/menu.css}" />
<link href="../static/css/footer.css" rel="stylesheet"
	th:href="@{/css/footer.css}" />

<title>Personal Loan new Form</title>
</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container-fluid">

		<div class="row">
			<div class="col-2" style="border-style: outset;">
				<h4 style="background-color: #808080">Quick links</h4>
				<hr>

				<div th:replace="fragments/sidebar :: sidebar">...</div>
			</div>

			<div class="col-10" style="border-style: outset;">

				<div id="wrapper">
					<div id="header">
						<h2>Personal Loan Application Form</h2>
						<hr>
					</div>
				</div>

				<form action="#"
					th:action="@{/personalLoan/saveBranchmanagerUpdate}" class="form"
					th:object="${personalLoan}" method="POST"
					enctype="multipart/form-data">

					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						th:field="*{funeralCover}" /> <input type="hidden"
						th:field="*{floatingRate}" /> <input type="hidden"
						th:field="*{managementFee}" /> <input type="hidden"
						th:field="*{primaRate}" /> <input type="hidden"
						th:field="*{creditAnalyst}" /> <input type="hidden"
						th:field="*{creditAnalystEmail}" /> <input type="hidden"
						th:field="*{securitiesSupervisor}" /> <input type="hidden"
						th:field="*{securitiesSupervisorEmail}" /> <input type="hidden"
						th:field="*{loanDisbursementSupervisor}" /> <input type="hidden"
						th:field="*{loanDisbursementSupervisorEmail}" />



					<div style="border-style: outset;">
						<h5>Customer Resume</h5>
						<hr>

						<div class="row"></div>

						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="firstName">First Name:</label> <input type="text" readonly
									th:field="*{firstName}" class="form-control"> <span
									th:if="${#fields.hasErrors('firstName')}"
									th:errors="*{firstName}"></span>
							</div>
							<div class="form-group mb-2 col-2">
								<label for="surname">Surname:</label> <input type="text" readonly
									th:field="*{surname}" class="form-control"> <span
									th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="customerCif">Customer Cif:</label> <input readonly
									type="text" th:field="*{customerCif}" class="form-control">
								<span th:if="${#fields.hasErrors('customerCif')}"
									th:errors="*{customerCif}"></span>
							</div>


							<div class="form-group mb-2 col-2">
								<label for="*{dateOfBirth}">Date of Birth:</label> <input readonly
									type="date" th:field="*{{dateOfBirth}}" class="form-control">
								<span th:if="${#fields.hasErrors('dateOfBirth')}"
									th:errors="*{dateOfBirth}"></span>
							</div>

						</div>

						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="cellNumber">Cell Number:</label> <input type="text" readonly
									th:field="*{cellNumber}" class="form-control"> <span
									th:if="${#fields.hasErrors('cellNumber')}"
									th:errors="*{cellNumber}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="employer">Customer Employer:</label> <input readonly
									type="text" th:field="*{employer}" class="form-control">
								<span th:if="${#fields.hasErrors('employer')}"
									th:errors="*{employer}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="postalAddress">Postal Address:</label> <input readonly
									type="text" th:field="*{postalAddress}" class="form-control">
								<span th:if="${#fields.hasErrors('postalAddress')}"
									th:errors="*{postalAddress}"></span>
							</div>

							<div class="form-group mb-6 col-6">
								<label for="residentialAddress">Residential Address:</label> <input readonly
									type="text" th:field="*{residentialAddress}"
									class="form-control"> <span
									th:if="${#fields.hasErrors('residentialAddress')}"
									th:errors="*{residentialAddress}"></span>
							</div>



						</div>


					</div>
					<div style="border-style: outset;">
						<h5>Loan Details</h5>
						<hr>
						<div class="row">
							<div class="form-group mb-2 col-2">
								<label for="pledgedAccount">Pledged Account:</label> <input readonly
									type="text" th:field="*{pledgedAccount}" class="form-control">
								<span th:if="${#fields.hasErrors('pledgedAccount')}"
									th:errors="*{pledgedAccount}"></span>
							</div>
							<div class="form-group mb-2 col-2">
								<label for="pledgedAccountBalance">Pledged Balance:</label> <input readonly
									th:field="*{pledgedAccountBalance}" type="number" step="0.01"
									class="form-control"> <span
									th:if="${#fields.hasErrors('pledgedAccountBalance')}"
									th:errors="*{pledgedAccountBalance}"></span>
							</div>
							<div class="form-group mb-2 col-2">
								<label for="stopOrderOverSalaryAccount">stopOrderOverSalaryAccount:</label>
								<input type="text" th:field="*{stopOrderOverSalaryAccount}" readonly
									class="form-control"> <span
									th:if="${#fields.hasErrors('stopOrderOverSalaryAccount')}"
									th:errors="*{stopOrderOverSalaryAccount}"></span>
							</div>


						</div>
						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="loanStartDate">Start Date:</label> <input readonly
									type="date" th:field="*{{loanStartDate}}" class="form-control">
								<span th:if="${#fields.hasErrors('loanStartDate')}"
									th:errors="*{loanStartDate}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="loanEndDate">End Date:</label> <input type="date" readonly
									th:field="*{{loanEndDate}}" class="form-control"> <span
									th:if="${#fields.hasErrors('loanEndDate')}"
									th:errors="*{loanEndDate}"></span>
							</div>

							<div class="form-group mb-7 col-7">
								<label for="loanPurpose">Loan Purpose:</label> <input readonly
									type="text" th:field="*{loanPurpose}" class="form-control">
								<span th:if="${#fields.hasErrors('loanPurpose')}"
									th:errors="*{loanPurpose}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="previousLoanAmount">PreviousLoanAmount:</label> <input readonly
									type="number" step="0.01" th:field="*{previousLoanAmount}"
									class="form-control"> <span
									th:if="${#fields.hasErrors('previousLoanAmount')}"
									th:errors="*{previousLoanAmount}"></span>
							</div>

						</div>
						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="loanAmountRequested">Amount Requested:</label> <input readonly
									type="number" step="0.01" th:field="*{loanAmountRequested}"
									class="form-control"> <span
									th:if="${#fields.hasErrors('loanAmountRequested')}"
									th:errors="*{loanAmountRequested}"></span>
							</div>
							<div class="form-group mb-9 col-9">
								<label for="loanAmountFinalWords">Loan Amount
									FinalWords:</label> <input type="text" readonly
									th:field="*{loanAmountFinalWords}" class="form-control">
								<span th:if="${#fields.hasErrors('loanAmountFinalWords')}"
									th:errors="*{loanAmountFinalWords}"></span>
							</div>
						</div>

					</div>
					
					
					<div style="border-style: outset;">
						<h5>Branch Information</h5>
						<hr>
						<div class="row"></div>

						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="businessConsultantName">Business Consultant
									Name:</label> <input type="text" th:field="*{businessConsultantName}" readonly
									class="form-control"> <span
									th:if="${#fields.hasErrors('businessConsultantName')}"
									th:errors="*{businessConsultantName}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="businessConsultantName">Business Consultant
									Email:</label> <input type="email" readonly
									th:field="*{businessConsultantEmail}" class="form-control"> 
								<span th:if="${#fields.hasErrors('businessConsultantEmail')}"
									th:errors="*{businessConsultantEmail}"></span>
							</div>

							<div class="form-group mb-7 col-7">
								<label for="businessConsultantComment">Business
									Consultant Comment:</label> <input type="text" readonly
									th:field="*{businessConsultantComment}" class="form-control">
								<span th:if="${#fields.hasErrors('businessConsultantComment')}"
									th:errors="*{businessConsultantComment}"></span>
							</div>

						</div>


						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="*{branch}">Branch:</label> <select readonly
									class="form-control" th:field="*{branch}">
									<option th:value="''" th:text="''"></option>
									<option th:value="'Ezulwini_Branch'"
										th:text="'Ezulwini_Branch'"></option>
									<option th:value="'Head_Office'" th:text="'Head_Office'"></option>
									<option th:value="'Manzini_Branch'" th:text="'Manzini_Branch'"></option>
									<option th:value="'Manzini_OPC'" th:text="'Manzini_OPC'"></option>
									<option th:value="'Manzini_Cash_center'"
										th:text="'Manzini_Cash_center'"></option>
									<option th:value="'Matsapha_Branch'"
										th:text="'Matsapha_Branch'"></option>
									<option th:value="'Matata_Branch'" th:text="'Matata_Branch'"></option>
									<option th:value="'Mbabane_Branch'" th:text="'Mbabane_Branch'"></option>
									<option th:value="'Nhlangano_Branch'"
										th:text="'Nhlangano_branch'"></option>
									<option th:value="'Piggs_Peak_Branch'"
										th:text="'Piggspeak_Branch'"></option>
									<option th:value="'Siphofaneni_Branch'"
										th:text="'Siphofaneni_Branch'"></option>
									<option th:value="'Siteki_Branch'" th:text="'Siteki_Branch'"></option>
									<option th:value="'Simunye_Branch'" th:text="'Simunye_Branch'"></option>
								</select> <span th:if="${#fields.hasErrors('branch')}"
									th:errors="*{branch}"></span>

							</div>

							<div class="form-group mb-2 col-2">
								<label for="branchAddress">Branch Address:</label> <input readonly
									type="text" th:field="*{branchAddress}" class="form-control">
								<span th:if="${#fields.hasErrors('branchAddress')}"
									th:errors="*{branchAddress}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="branchManagerName">Branch Manager Name:</label> <input readonly
									type="text" th:field="*{branchManagerName}"
									class="form-control"> <span
									th:if="${#fields.hasErrors('branchManagerName')}"
									th:errors="*{branchManagerName}"></span>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="branchManagerEmail">Branch Manager Email:</label> <input readonly
									type="email" th:field="*{branchManagerEmail}"
									class="form-control"> <span
									th:if="${#fields.hasErrors('branchManagerEmail')}"
									th:errors="*{branchManagerEmail}"></span>
							</div>

						</div>

					</div>
					
					
					
					
					<div style="border-style: outset;">
						<h5>Branch Information</h5>
						<hr>
						<div class="row"></div>

						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="businessConsultantName">Business Consultant
									Name:</label> <input type="text" th:field="*{businessConsultantName}" readonly
									class="form-control"> <span
									th:if="${#fields.hasErrors('businessConsultantName')}"
									th:errors="*{businessConsultantName}"></span>
							</div>
							
							<div class="form-group mb-2 col-2">
								<label for="businessConsultantCommentDate">Date:</label> <input type="text" readonly
									th:field="*{businessConsultantCommentDate}" class="form-control">
								<span th:if="${#fields.hasErrors('businessConsultantCommentDate')}"
									th:errors="*{businessConsultantCommentDate}"></span>
							</div>

							<div class="form-group mb-8 col-8">
								<label for="businessConsultantComment">Business Consultant Comment:</label> <input type="text" readonly
									th:field="*{businessConsultantComment}" class="form-control">
								<span th:if="${#fields.hasErrors('businessConsultantComment')}"
									th:errors="*{businessConsultantComment}"></span>
							</div>

							

						</div>


						<div class="row">

							
							
							

							<div class="form-group mb-12 col-12">
								<label for="branchManagerComments">Branch Manager Comment
									Email:</label> <input type="text"
									th:field="*{branchManagerComments}" class="form-control">
								<span th:if="${#fields.hasErrors('branchManagerComments')}"
									th:errors="*{branchManagerComments}"></span>
							</div>

							

						</div>

					</div>
					
					
					
					

					<div style="border-style: outset;">
						<h5>Next Actions</h5>
						<hr>

						<div class="row">

							<div class="form-group mb-2 col-2">
								<label for="loanStatus">loanStatus:</label> <select
									class="form-control" th:field="*{loanStatus}">

									<option th:value="'Pendig Credit Analyst Comments'" th:text="'Forward to Credit'">
									<option th:value="'Pendig Business Consultant Updates'" th:text="'Return to Business Consultant'">
									
								</select>
							</div>

							<div class="form-group mb-2 col-2">
								<label for="*{payslipLocation}">View Documents Loaded:</label> <a
									th:href="@{/personalLoan/download_file(fileName = *{securitiesLocation})}"
									class="text-danger">download</a>
							</div>


						</div>
						<div class="row">

							<input type="submit"
								class="btn  col-2 btn-warning btn-sm form-control" name="action"
								value="Generate Customer copy" /> <input type="submit"
								class="btn  col-2 btn-success btn-sm form-control" name="action"
								value="Save" />

							<hr>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>
</body>

<script type="text/javascript" th:href="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:href="@{/js/bootstrap.js}"></script>

</html>