<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="refresh" content="30">
<!-- Required meta tags -->
<meta charset="utf-8">


<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="../static/css/menu.css" rel="stylesheet"
	th:href="@{/css/menu.css}" />
<link href="../static/css/footer.css" rel="stylesheet"
	th:href="@{/css/footer.css}" />

<title>Personal Loan</title>
</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container-fluid">

		<div class="row">
			<div class="col-2" style="border-style: outset;">
				<h4 style="background-color: #808080">Quick links</h4>
				<hr>

				<div th:replace="fragments/sidebar :: sidebar">...</div>
			</div>

			<div class="col-10" style="border-style: outset;">

				<div id="wrapper">
					<div id="header">
						<h2>Personal Loan Application Form</h2>
						<hr>
					</div>
				</div>



				<!-- Add a button -->
				<a th:href="@{/personalLoan/showFormForAdd}"
					class="btn btn-primary btn-sm mb-3"> Start a New Application </a>

				<hr>


				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Loan Ref</th>
							<th>Loan Status</th>
							<th>Date Created</th>
							<th>Time Elapsed</th>
							<th>Last Updated</th>

						</tr>

					</thead>
					<tbody>
						
					</tbody>
				</table>

			</div>




		</div>
	</div>


	<div th:replace="fragments/footer :: footer">...</div>
</body>

<script type="text/javascript" th:href="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:href="@{/js/bootstrap.js}"></script>

</html>